::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
	/*background-color: #fff;*/
	background-color: #efefef;
        font: 13px/20px normal Helvetica, Arial, sans-serif;
        color: #4F5155;
}

a {
	color: #003399;
        background-color: transparent;
        font-weight: normal;
}

h1 {
	color: #444;
        background-color: transparent;
        border-bottom: 1px solid #D0D0D0;
        font-size: 13px;
        font-weight: normal;
        margin: 0 0 0;
        padding: 14px 15px 10px 15px;
}

code {
        font-family: Consolas, Monaco, Courier New, Courier, monospace;
        font-size: 12px;
        background-color: #f9f9f9;
        border: 1px solid #D0D0D0;
        color: #002166;
        display: block;
	height:100%;
        margin: 14px 0 14px 0;
        padding: 12px 10px 12px 10px;
}

#body{
        margin: 0 15px 0 15px;
}

p.footer{
        text-align: right;
        font-size: 11px;
        border-top: 1px solid #D0D0D0;
        line-height: 32px;
        padding: 0 10px 0 10px;
        margin: 20px 0 0 0;
}

#div_login {
    	margin: auto;
    	padding: 54px 0 0;
    	width: 320px;
}

#loginform {
    	background: none repeat scroll 0 0 #FFFFFF;
    	border: 1px solid #E5E5E5;
    	box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
    	font-weight: normal;
    	margin-left: 8px;
    	padding: 26px 24px 46px;
}

#user_login {
    	color: #777777;
    	font-size: 14px;
}

#login_error {
    	background-color: #FFEBE8;
    	border-color: #CC0000;
    	margin: 0 0 16px 8px;
    	padding: 12px;
}	
