{% extends 'base.html.twig' %}
{% block body %}
	Esto es una prueba de twig</br>
	<a href="{{ url }}/logout" onClick="return confirm(unescape('%BFEst%E1 seguro que desea cerrar la sesi%F3n?'));">Cerrar Sesi&oacute;n</a>
{% endblock %}
