{% extends 'base.html.twig' %}
{% block body %}
	Archivo CSV</br>
	<input type="hidden" id="site_url" name="site_url" value="{{ url }}"/>
	<form id="frm_file" name="frm_file" method="post" action="" enctype="multipart/form-data" target="zona_tabla">
		{{ upload }}
	</form>
	<!--<input type="button" id="btn_envio" name="btn_envio" value="Enviar" onclick="enviaFile()"/>-->
	<input type="button" id="btn_envio" name="btn_envio" value="Enviar" />
	</br></br></br>
	<iframe id="zona_tabla" name="zona_tabla" scrolling="auto" src="{{ url }}/recibe_file" frameborder="0" height="500px" width="100%" style="display:none"></iframe>
{% endblock %}
